// Specific CSS for your home-page
// .background {
//   background: url(images/blackboard.jpg) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

body {
background-image:url("blackboard.jpg");
background-repeat: no-repeat;
background-size: cover;
}


.title h1{
font-family: 'Cabin Sketch', cursive;
color: white;
font-size: 100px;
text-align:center;
}

.title h3{
color:white;
font-family: 'Roboto Mono', monospace;
font-size: 35px;
text-align: center;
}


