<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with  <i class="fas fa-heart"></i> by <a href="https://www.thewebsyco.com/" class="websy">The Websy Co.</a>
  </div>
   <div class="footer-copyright">
    ©2019 Edge Schools
  </div>

</div>
