<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
   <div class="footer-copyright">
    ©2019 Edge Schools
  </div>
  <div class="footer-copyright2">
    Made with <i class="fas fa-heart"></i> by The Websy Co.
  </div>
</div>
