<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

   <div class="footer-copyright">
    ©2019 Edge Schools
  </div>
  <div class="footer-copyright2">
    Made with <i class="fas fa-heart"></i> by The Websy Co.
<!-- =======
  <div class="footer-copyright">
    Made with  <i class="fas fa-heart"></i> by <a href="https://www.thewebsyco.com/" class="websy">The Websy Co.</a>
  </div>
   <div class="footer-copyright1">
    ©2019 Edge Schools
>>>>>>> e35e61292e3252c0b21b551a164d0fe0d4d032fc -->
  </div>

</div>
