<%= render 'shared/navbar2' %>

<div class="div mt-5 ml-5" style="margin-bottom: -5%">
  <i class="fas fa-arrow-left"></i> <%= link_to "Go Back to All Programs", whatweoffer_path %>
</div>

</br>
</br>
</br>
</br>
<div class="container program">
  <h2> Capacity Building </h2>

  <%= image_tag'cp.jpg', class: "programsss" %>


<div class="container adventurecamping">
    <div class="adventurecamp">
  <div class="row">
  <div class="col-lg-4"><h1 class="circle">What?</h1></div>
  <div class="col-lg-8"><h3>This programme focuses on activities which strengthen the knowledge, abilities, skills and behavior of individuals within a school or organisation. This encourages improvement of institutional structures and processes through critical thinking and team Involvement.</h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1 class="circle">Why?</h1></div>
  <div class="col-lg-8"><h3> We. Believe that.  Every.  Person has the ability to. Be a leaders, regardless.  Of their.  IQ. </h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1 class="circle">Who?</h1></div>
  <div class="col-lg-8"> <h3> This programme is tailored for teachers and individuals working within an organisation that has leadership structures.</<h3></h3>></div>
  </div>


</div>
</div>
</div>
