<%= render 'shared/navbar2' %>

<div class="div mt-5 ml-5" style="margin-bottom: -5%">
  <i class="fas fa-arrow-left"></i> <%= link_to "Go Back to All Programs", whatweoffer_path %>
</div>
</br>
</br>
</br>
</br>
<div class="container program">
  <h2> Civil Discourse </h2>
</br>
<div class="row">
  <div class= "container">
   <div class="text-center video-container">
   <iframe class="my_class_name" width="900" height="500" src="https://www.youtube.com/embed/go5PjCDEb58" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
 </div>
</div>

 </br>
</br>
</br>
</br>

  <div class="container adventurecamping">
    <div class="adventurecamp">
  <div class="row">
  <div class="col-lg-4"><h1 class="circle">What?</h1></div>
  <div class="col-lg-8"><h3 >A discussion between people with different ideas for the purpose of understanding each other and working together to find constructive solutions to common problems.</h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1 class="circle">Why?</h1></div>
  <div class="col-lg-8"><h3> Being a young democracy, it is sometimes easier to shift blame than to engage with the problems around us and face them head on.One of the most important educational, political, and social issues of today is how best to have a civil conversation in a democratic society. Our past, present, and future depend on this essential process: citizens gathering, listening to each other, debating, making up their minds, and determining a course of action. </h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1 class="circle">Who?</h1></div>
  <div class="col-lg-8"> <h3> This programme creates and facilitates a safe space for learners , teachers and members of organisations to have productive conversations and go through problem solving activities, with the desired outcome of understanding and inclusivity.  </h3></div>
  </div>


</div>
</div>


</div>
