<script src="//www.powr.io/powr.js?external-type=html"></script>


<%= render 'shared/navbar2' %>

<div class="container-fluid contactando">

<h1 style="font-size:8vw; font-family:Cabin Sketch; text-align:center; margin-top: 20px!important;" > Contact Us !</h1>
<hr>
<br>

<div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="contact">
<h3 style="margin-left:21%; font-size:30px;"> <i class="fas fa-envelope"></i> info@edgeschools.co.za </h3>
<p style="margin-left:21%; font-size:29px;"><i class="fas fa-phone"></i> +270768200059</p>
<p style="margin-left:21%; font-size:28px;"> <i class="fas fa-home"></i> </i> 298 Cato Road</p>
<p style="margin-left:21%; font-size:28px;">Bulwer, Durban</p>
</div>

 <div class="powr-contact-form" id="be7632ed_1552402251" ></div>
</div>


  <div class="contactimage col-sm-6 col-md-6">
<%= image_tag 'image8.png', width: "87%", height: "105%"%>
</div>
</div>
</div>
</div>
