<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Roboto+Mono" rel="stylesheet">

<div class="container">
  <div class="background">
  </div>
</div>

<div class="container title">
  <h1> Inspiring leaders to realize their potential </h1>
</br>
  <h3> Edge Schools is a Human Development Company which facilitates tailored training programmes for schools and organizations. We are passionate about seeing desired change in individuals of all ages and backgrounds. </h3>
</div>


<div class="services-grid">

    <div class="service service1">
      <i class="ti-bar-chart"></i>
      <h1>  <img height="50" src="/assets/service2-1e9c546489076cc28385c96299f4e19322599aa25f710e3895b43596ad82c89d.png"> </h1>
      <h4>Design &amp; Development</h4>
      <p>We create fully functional websites that speak to your clients. Developed from scratch.</p>
    </div>

    <div class="service service2">
      <i class="ti-light-bulb"></i>
      <h1>  <img height="50" src="/assets/service1-d38e2f506116d5a46a32bfe0ed971e011c1f2d5fcf2ab4f4c615df4854f3a4d9.png"> </h1>
      <h4>E-Commerce</h4>
      <p>Increase revenue by bringing your business online. Sell your products on your webpage.</p>
    </div>

    <div class="service service3">
      <i class="ti-money"></i>
      <h1>  <img height="50" src="/assets/service3-182df60c6f6577d4ddbce2c541b65a10bded6e6ec0e68e6ee053f73636cde22f.png"> </h1>
      <h4>Maintenance Plan</h4>
      <p>We update content and provide thorough inspections with the site on a monthly basis.</p>
    </div>
  </div>
