<%= render 'shared/navbar2' %>

<div class="div mt-5 ml-5" style="margin-bottom: -5%">
</br>
  <a href="/pages/whatweoffer"><%= image_tag "back.png", height: 50 %></a>
</div>

</br>
</br>
</br>
</br>
<div class="container program">
  <h2>  Leadership Development Programme </h2>


 <div class="container text-center">

<div class="resp-container">
<iframe class="resp-iframe" src="https://www.youtube.com/embed/LtUVGRkSmqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div class="container mt-5 adventurecamping">
  <div class="adventurecamp">

  <div class="row">
  <div class="col-lg-4"><h1 class="circle">How?</h1></div>
  <div class="col-lg-8"><h3>All topics covered are facilitated through experiential learning exercises that range in physical and cognitive involvement.</h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1 class="circle">What?</h1></div>
  <div class="col-lg-8"><h3>The Leadership Development Programme is designed to equip and empower all current and future leaders with effective personal and team skills.</h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1 class="circle">Why?</h1></div>
  <div class="col-lg-8"><h3>The desired learning outcome is that these developed skills can drive individuals, their teams and their school or organisation forward.</h3></div>
  </div>

  <div class="row">
  <div class="col-lg-4"><h1 class="circle">Who?</h1></div>
  <div class="col-lg-8"> <h3>Participants of this programme can range from Grade 6 learners up to adult aged individuals working within an organisation.
</h3></div>
  </div>

</div>
</div>
</div>
