<%= render 'shared/navbar2' %>

    <div class="container">
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Our Gallery</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
        </p>
      </div>
    </section>


<div class="container">
    <div class="row">
  <% @albums.each do |album| %>
        <div class="col-md-4">
            <div class="product-grid2">

                <div class="img-thumbnail product-image2">
                    <a href="#"><%= cl_image_tag album.photo %></a>
                </div>

                <div class="product-content">
                  </br>
                    <h3 class="title"><a href="#"><%= link_to album.title, album_path(album) %></a></h3>
                </div>

            </div>
        </div>
   <% end %>
  </div>
</div>
<hr>
