<p id="notice"><%= notice %></p>

<h1>Albums</h1>


<div class="container">
    <div class="row">
  <% @albums.each do |album| %>
        <div class="col-md-3">
            <div class="product-grid2">

                <div class="product-image2">
                    <a href="#"><%= cl_image_tag album.photo %></a>
                    <ul class="social">
                    </ul>
                    <a class="add-to-cart" href="">Add to cart</a>

                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#"><%= link_to album.title, album_path(album) %></a></h3>
                </div>

            </div>
        </div>
   <% end %>
  </div>
</div>
<hr>


<%= link_to 'New Album', new_album_path %>


      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">About</h4>
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse navbar-dark bg-dark">
      <div class="container d-flex justify-content-between">
        <a href="http://lacodeid.com/" class="navbar-brand">Album</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Album Me</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
          <a href="http://lacodeid.com/" class="btn btn-primary">Main call to action</a>
          <a href="http://lacodeid.com/" class="btn btn-secondary">Secondary action</a>
        </p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="cardsi">
           <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="http://via.placeholder.com/356x280" data-holder-rendered="true">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

          <div class="cardsi">
            <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="http://via.placeholder.com/356x280" data-holder-rendered="true">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>

      </div>
    </div>
