<div class="container">

  <h1>
    <%= @album.title %>
    <%= @album.description %>
  </h1>
    <% @album.photos.each do |photo| %>
  <div class="col-lg-3 col-sm-6">
    <%= cl_image_tag photo.photo, width: "100%", height: "auto" %>
  </div>
  <% end %>
</div>
