<%= render 'shared/navbar2' %>


<div class="container photoalbum">
  <h1> <%= @album.title %> </h1>
   <h2> <%= @album.description %></h2>
</div>

<div class="container">
  <div class="row">
    <% @album.photos.each do |photo| %>
  <div class="col-md-3">
    <div class="product-grid2">
        <div class="product-image3">
   <a href="#"> <%= cl_image_tag photo.photo %></a>
  </div>
  </div>
  </div>
  <% end %>
</div>
</div>


