@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
#martop{
  padding-top: 150px;
  font-family: 'Amatic SC', cursive;
}

#martop h1{
  text-transform: uppercase;
  color: white;
  font-size: 5.5em;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

#martop h3{
  text-transform: uppercase;
  color: white;
  font-size: 3.5em;
  font-family: 'Amatic SC', cursive;
}

#martop h5{
  text-transform: uppercase;
  color: white;
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 0.1em;
}

.md-form{
  margin-top: 20px;
}

.card{
  border: none !important;
}

.btn-contact{
  margin-top:10px;
  background-color: #B6BFD0 !important;
}

// online contact form
.contact-form-text-area {
  font-size: 2em !important;
  margin-top:10px !important;
  width: 100% !important;
}

.btn-block{
  font-size: 2em !important;
  background-color: #B6BFD0 !important;
}

.btn-block:hover{
  border: 2px solid #AF003B !important;
  background-color: #B6BFD0 !important;
  color: #AF003B !important;
}

.hidden { display: none; }
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
font-size: .8em;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
font-size: .8em;
}

.embed-responsive-item{
width:300%;
}


.contact{
    margin-bottom: 30px;
    }
//POPUP
