


@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');


#appView{
background-color: #ADAAAA !important;
}

#martop{
  padding-top: 50px;
  font-family: 'Amatic SC', cursive;
}

#martop h1{
  text-transform: uppercase;
  color: white;
  font-size: 5.5em;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

#martop h3{
  text-transform: uppercase;
  color: white;
  font-size: 3.5em;
  font-family: 'Amatic SC', cursive;
}

#martop h5{
  text-transform: uppercase;
  color: white;
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 0.1em;
}

.md-form{
  margin-top: 20px;
}

.card{
  // border: none !important;
}

.program{
  margin-top:7%;
}

.btn-contact{
  margin-top:10px;
  // background-color: #B6BFD0 !important;
}

.contactando{
  h1{
    margin-top: 8%;
    font-family: Cabin Sketch !important;
    font-size: 99px;
    font-weight: bold;
  }

  p{font-size: 22px;}

 h3{
  font-size: 2.75rem;
 }
}

.socialmedias{
  margin-bottom: 4%;
}

// online contact form
.contact-form-text-area {
  font-size: 2em !important;
  margin-top:10px !important;
  width: 100% !important;
}

.btn-block{
  font-size: 2em !important;
  background-color: #B6BFD0 !important;
}

.btn-block:hover{
  border: 2px solid #AF003B !important;
  background-color: #B6BFD0 !important;
  color: #AF003B !important;
}

.hidden { display: none; }
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
font-size: .8em;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
font-size: .8em;
}

.embed-responsive-item{
width:300%;
}


.contact{
    margin-bottom: 30px;
    }
//POPUP

.dark{
  font-weight: bold !important;
  text-shadow: 2px 2px #EDEDED;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .circle {
  border: 1px solid black;
  border-radius: 50%;
  padding-top: 5% ;
  padding-bottom: 5% ;
  margin-left: 30% !important;
  margin-right: 30% !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;

  }
  .adventurecamp{
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0 !important;
    margin: 0 !important;
  }


.contactimage{
  padding-bottom:5%;
  img{
   background-color:white;
   border: 1px solid #dee2e6;
   margin-left: 24px;
  }
 }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .circle {
  border: 1px solid black;
  border-radius: 50%;
  padding-top: 5% ;
  padding-bottom: 5% ;
  margin-left: 35% !important;
  margin-right: 35% !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;

  }
  .adventurecamp{
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0 !important;
    margin: 0 !important;
  }

.contactimage{
  padding-bottom:5%;
  img{
   background-color:white;
   border: 1px solid #dee2e6;
   margin-left: 24px;
  }
 }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .circle {
  border: 1px solid black;
  border-radius: 50%;
  padding-top: 5% ;
  padding-bottom: 5% ;
  margin-left: 35% !important;
  margin-right: 35% !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;

  }
  .adventurecamp{
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0 !important;
    margin: 0 !important;
  }

.contactimage{
  padding-bottom:5%;
  img{
   background-color:white;
   border: 1px solid #dee2e6;
   margin-left: 24px;
  }
 }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .circle {
  border: 1px solid black;
  border-radius: 50%;
  padding-top: 10% ;
  padding-bottom: 10% ;
  margin-left: 25% !important;
  margin-right: 25% !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;

  }
  .adventurecamp{
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0 !important;
    margin: 0 !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .circle {
  border: 1px solid black;
  border-radius: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 80px;
  margin-right: 80px;
  }
}


.contactimage{
  padding-bottom:5%;
  img{
   background-color:white;
   border: 1px solid #dee2e6;
  }
 }
