@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
#martop{
  padding-top: 150px;
  font-family: 'Amatic SC', cursive;
}

#martop h1{
  text-transform: uppercase;
  color: white;
  font-size: 5.5em;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

#martop h3{
  text-transform: uppercase;
  color: white;
  font-size: 3.5em;
  font-family: 'Amatic SC', cursive;
}

#martop h5{
  text-transform: uppercase;
  color: white;
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 0.1em;
}

.md-form{
  margin-top: 20px;
}

.card{
  border: none !important;
}

.btn-contact{
  margin-top:10px;
  background-color: #B6BFD0 !important;
}
