@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

// .chalk2{
//  text-align:center;
// }

// .chalk3{
//     text-align: center;
//     margin-top: 129px;
//     margin-bottom: -128px;

// }

@font-face {
font-family: 'Ink Free Regular';
font-style: normal;
font-weight: normal;
src: local('Ink Free Regular'), url('Inkfree.woff') format('woff');
}

.coverabout {
    background: linear-gradient(to top, transparent 0%, black 232%), url(whowearesindi.jpg) no-repeat center;
    background-size: cover;
    height: 71vh;
    // margin-top: -13%;



  h1{
     color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 99px;
    margin-top: 14%;
    margin: 13%;
  }
}

.aboutcontainer{
   margin-bottom: 10%;
}

.aboutcontainer h1{
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 6em;
}

.aboutcontainer h4{
  font-family: 'Roboto Mono';
  font-size: 2em;
  letter-spacing: -0.07em;
  // text-align: justify;
}

.imagepic{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transform: rotate(5deg);
    transform: rotate(2deg);
    width: 98%;
}

.whoweare1{
  transform: rotate(2deg);
}

.whoweare2{
  transform: rotate(4deg);
}

.imagepic1{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: rotate(3deg);
}

.imagepic2{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: rotate(-5deg);
}

.programsss{
  width: 55%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: rotate(-1deg);
}


.program h1 {
    margin-bottom: 32%;
}



.program h4{
 font-family: Cabin Sketch;
  font-size: 3.5em;
}

.part1{
// margin: 5%;
}

.listsize{
  font-size: 1.2em;
  font-family: Roboto Mono;
}

.whoweare3{
  transform: rotate(6deg);
  margin-left: -109px;
  // margin-top: -117px;
  position: relative;
  top: 9%;

}

.whoweare4{
    transform: rotate(-4deg);
    margin-top: -256px;
    margin-left: 30px;
    position: relative;
    right: 111%;
    bottom: 19%;
}

.col-lg-8 h3 {
  margin-top: 5%;
}
