@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

.coverabout{
  margin-top: -200px;
  background-image: url('image1.jpeg');
  background-size: cover;
}

.imageabout1{
  background-image: url('image9.jpeg');
}

.imageabout2{
  background-image: url('image9.jpeg');
}

.imageabout3{
  background-image: url('image9.jpeg');
}



.aboutcontainer h1{
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 6em;
}

.aboutcontainer h4{
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}
