
.adventurecamping{
  background-color: white;
  padding: 82px;
  padding-left: 3px;
  box-sizing: border-box !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 28px;

}

.adventurecamp{
  padding: 82px;
  padding-left: 3px;
  margin-bottom: -84px;
  margin-top: -34px;
}
