@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');


.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  // display: block;
}

.thumb{
  // margin-top: 15px;
  // margin-bottom: 15px;
 }

@media only screen and (min-width: 1200px) {
 #image-gallery .modal-footer{
  display:none;
}
}

body{
// background-url: "http://api.thumbr.it/whitenoise-361x370.png?background=deddc7ff&noise=968696&density=15&opacity=15";
background-image: url("background.jpeg") !important;
}


// MODAL PART UP


.img-thumbnail {
    padding: 1.25rem;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: .25rem;
    max-width: 170%;
    height:auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.product-content h3{
      color: black;
    font-size: 12px;
}

.product-image2 img{
    width: 100%;
    height:auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

 .product-image3 img{
    margin-bottom: 13%;
    width: 269px;
    height: 223px;;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .product-grid2{
     margin-bottom: 10%;
  }



.jumbotron-heading {
    text-align: center;
    font-family: amatic sc;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 99px;
    margin-top: 4%;
    margin-bottom: 3%;
}

  .title{
    a {
    color: #CE1414;
    font-size: 15px;
    margin-bottom: 20px;
    text-decoration: none;
}
  }

  .title :hover{
    text-decoration:none;
  }

.bg-inverse {
    background-color: #292b2c;
}


.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.page-wrapper{
  height: 100%;
  display: table;
}

#gallery{
  display: flex;
  column-gap: 0px;
  display: inline-block;
}

.photo{

}



.photoalbum{
  h1{
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 80px;
  margin-top: 10%;
}

h2{
    font-family: Roboto mono;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5%;
}
}


.websy{
  text-decoration: none !important;
  color:gray !important;
  &:hover{
  color:black !important;
  }
}






/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
// }

/* Small devices (portrait tablets and large phones, 600px and up) */
  // @media only screen and (min-width: 600px) {

  // }

  /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {

// }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .zoomin{
    transition: transform .7s;
  }

  .zoomin:hover{
    transform: scale(2.5);
    position: absolute;
    z-index: 1;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .zoomin{
    transition: transform .7s;
  }

  .zoomin:hover{
    transform: scale(2.5);
    position: absolute;
    z-index: 1;
  }

}
