
.blogimages{
img{
  height:250px;
  border-radius: 4px;
}
}

.blogs p{
font-family: Amatic SC;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 36px;
// text-align: left !important;
// margin-left: 3% !important;
}

.blogs h2{
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 64px;
    // text-align: left !important;
    // margin-left: 3% !important;
}

.card-title{
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
}

.card-text{
  font-family: Amatic SC;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
}

.blogcards{
  // margin-left:100%;
  // margin-right:60%;
}
