

.blogimages{
img{
  height:250px;
  border-radius: 1px;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}

.blogs p{
margin-bottom: 37px !important;
text-align: left !important;
// margin-left: 3% !important;

    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    font-family: Roboto Mono;
}

.blogs h2{
    font-family: Amatic SC;
    font-weight: bold !important;
    line-height: normal;
    font-size: 81px;
    text-align: left !important;

    // margin-left: 3% !important;
}

.card-title{
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    text-align: center;
}

.card-text{
  font-family: Amatic SC;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
}


.morecontent span {
    display: none;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
}
.morelink {
    display: block;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color:#ce1414 !important;
    text-decoration: none !important;
}

.morelink:hover{
  text-decoration: none;
}


.morelink a{
    color: darkred!important;
    text-decoration: none!important;
    background-color: transparent;
}

.more{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    font-family: Roboto Mono;
    max-width: 100%;
}

.cardi{
  background-color:#EDEDED!important;
  opacity: 2px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 2%;
}




@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  /* STYLES GO HERE */
.blogimages img {
    height: 150px !important;
  }
}

.blogimages{
img{
  height:250px;
  border-radius: 1px;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}

.blogs p{
margin-bottom: 37px !important;

    font-style: normal;
    font-weight: normal;
    line-height: normal;
}


@media only screen and (max-device-width: 480px) {
 .blogimages img {
    height: 223px !important;
  }

  .vid video {
    height: 163px !important;
}
}


.vid video{
    height: 185px;
    margin-top: 16%;
    margin-left: 1%;
    border-style: groove;
    background-color: white;
}

@media screen and (device-aspect-ratio: 375/667) {
 .vid video {
    height: 190px !important;
}

}

@media screen and (device-aspect-ratio: 16/9) {
   .vid video {
    height: 280px !important;
}
}

@media screen and (device-aspect-ratio: 3/4) {
   .vid video {
    height: 131px!important;
    }
    .blogimages img {
    height: 168px !important;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
      .vid video {
    height: 169px!important;
    }
    .blogimages img {
    height: 209px !important;
  }
}
